BOT_TOKEN=
ADMIN_ID=

AUTO_REPLY_DELAY=300

AUTO_REPLY_TEXT=Здравствуйте! Это автоматическое сообщение.\n\nСейчас мы не в сети, как только появится возможность — обязательно вам ответим.

API_ID=          # <-- замени на свой API ID https://my.telegram.org/apps
API_HASH=
WEB_USERNAME=
WEB_PASSWORD=
WEB_PORT=1037
PHP_PORT=1038
